<body>
    <News Highlights  -->
    <h1>Sources</h1>
    <h3>Business</h3>
     <ul>
        {% for business_names in sources %}
            <li>{{ business_names.name}}</li>
        {% endfor %}
    </ul>
    <h3> News Sports</h3>

    <ul>
        {% for sports_names in sports_sources %}
            <li>{{ sports_names.name}}</li>
        {% endfor %}
    </ul>

    <h3>Technology News</h3>

    <ul>
        {% for techno_names in technology_sources %}
            <li>{{ techno_names.name}}</li>
        {% endfor %}
    </ul>

    <h3>Entertainment</h3>
    <ul>
        {% for entertainment_names in entertainment_sources %}
            <li>{{ entertainment_names.name}}</li>
        {% endfor %}
    </ul>

</body>