{% macro displaySourceList(source_list) %}
	
	{% for source_row in source_list |batch(4)%}form
        <div class="row">
            {% for sources in source_row %}
	            <div class="col-md-3">
		           
		            <div class="panel panel-default">
						<div class="panel-heading">
							<a href="/sources/{{sources.id}}">
							    {{ sources.name}}
					        </a>
						</div>
						<div class="panel-body">
							<p>
								{{ sources.description |truncate(150)}}

							</p>
							<a href="/sources/{{sources.id}}" class="btn btn-primary btn-sm">Visit {{sources.name}}</a>
						</div>
						
		
					</div>
		        </div>
            {% endfor %}
	        	
        </div>
    {% endfor %}

{% endmacro %}


{% macro displayArticleList(article_list) %}
	Welcome To Article List
	
	{% for article_row in article_list |batch(4)%}
		
        <div class="row">
            {% for articles in article_row %}
	            <div class="col-md-3">
		           
		            <div class="panel panel-default">
						<div class="panel-heading">
							<a href="/articles/{{articles.id}}">
							    {{ articles.name}}
					        </a>
						</div>
						<div class="panel-body">
							<p>
								{{ articles.description |truncate(150)}}

							</p>
							<a href="/articles/{{articles.url}}" class="btn btn-success btn-sm">Read full topic.. {{articles.arlToImage}}</a>
						</div>
						
		
					</div>
		        </div>
            {% endfor %}
	        	
        </div>
    {% endfor %}

	{% endmacro %}
